#img-bg {
    background-image: url(https://www.gov.br/pgfn/pt-br/assuntos/noticias/2018/participe-da-consulta-publica-sobre-o-cadastro-fiscal-positivo-da-pgfn/carrossel-inter.jpg/@@images/5314856b-1319-42ae-bf92-06948848551f.jpeg);

    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}