#img-bg {
    background-image: url(https://img.freepik.com/fotos-gratis/feminino-mao-digitando-no-teclado-do-laptop_1150-15742.jpg?w=996&t=st=1656604391~exp=1656604991~hmac=17cba2e154694f797c74019383aa2c72497cdb590310338a095906926f964b97);

    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}